<h2>Edit Artist</h2>

<%= form_for @club do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :start_date %>
  <%= f.text_field :start_date %>

  <%= f.label :end_date %>
  <%= f.text_field :end_date %>

  <%= f.submit %>
<% end %>

<%= form_for @club, method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>
<% end %>
