<main>
<h2>Edit Book club</h2>

<%= form_for @club do |f| %>
<ul>
<li>  <%= f.label :name %></li>
<li>   <%= f.text_field :name %></li>

<li>   <%= f.label :start_date %></li>
<li> <%= f.text_field :start_date %></li>

<li> <%= f.label :end_date %></li>
<li>   <%= f.text_field :end_date %></li>

<li>  <%= f.submit %></li>

<% end %>

<%= form_for @club, method: :delete do |f| %>
<li>  <%= f.submit "Delete", class: "delete" %> </li>
<% end %>
</ul>
</main>
