<main>
<h3>New Book Club </h3>
<ul>
<%= form_for @club do |f| %>
<li>  <%= f.label :name %> </li>
<li>  <%= f.text_field :name %> </li>

<li> <%= f.label :start_date %> </li>
<li>  <%= f.text_field :start_date %> </li>

<li>  <%= f.label :end_date %> </li>
<li>  <%= f.text_field :end_date %> </li>

<li>  <%= f.submit %> </li>
</ul>
<%end%>
</main>
