
<h3>New Book Club </h3>
<ul>
<%= form_for @club do |f| %>
<li>  <%= f.label :name %> </li>
<li>  <%= f.text_field :name %> </li>

<li> <%= f.label :start_date %> </li>
<li>  <%= f.text_field :start_date %> </li>

<li>  <%= f.label :end_date %> </li>
<li>  <%= f.text_field :end_date %> </li>

<li>  <%= f.submit %> </li>
</ul>
<%end%>
<%# Consider creating a partial form view in this folder and then reusing it
(rendering it) both here and in the edit view. Same goes for any model that has
both new and edit views %>
