<div class = "club">
  <h1><%= @club.name %> <%= link_to "(Edit)", edit_club_path %></h1>
</div>
<div class = "meetings">
  <h2>Meetings <%= link_to "(+)", new_club_meeting_path(@club) %></h2>
  <ul>
  <% @club.meetings.each do |meeting|%>
    <h2> Date: <%= link_to meeting.date, club_meeting_path(@club, meeting) %></h2>
    <p> Host: <%= meeting.host %>
    <% @club.members.each do |member| %>
      <% meeting.books.each do |book| %>

      <h2> Book: <%= book.title %> <%= link_to "Edit", edit_meeting_book_path(meeting, book) %></h2>
      <p> Author: <%= book.author %> </p>
      <p> Genre: <%= book.genre %> </p>
      <div class = "book_table">
        <div class = "book_photo">
          <%= image_tag book.photo_url %>
        </div
        <div class = "book_description">
          <p><%= book.description %></p>
        </div>
      <p><%= link_to "Read More", book.link %>
      </div>

        <hr>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
    <div class = "members">
      <h2>Members<%= link_to "(+)", new_club_member_path(@club) %></h2>
      <ul>
      <% @club.members.each do |member|%>
        <li> <%= link_to member.name, club_member_path(@club, member) %>
          <img class = "member_photo" src = "<%= member.photo_url %> ">
      <% end %>
      </ul
    </div>
