<h1> Meeting on <%= @meeting.date %>
  <h2>New Book</h2>
  <%= form_for [@meeting, @book] do |f| %>
  <ul>
    <li>  <%= f.label :title %></li>
    <li> <%= f.text_field :title %></li>

    <li> <%= f.label :author %></li>
    <li>  <%= f.text_field :author %></li>

    <li> <%= f.label :photo_url %></li>
    <li> <%= f.text_field :photo_url %></li>

    <li> <%= f.label :link %></li>
    <li> <%= f.text_field :link %></li>

    <li> <%= f.label :description %></li>
    <li><%= f.text_field :description %></li>


    <li> <%= f.label :genre %></li>
    <li> <%= f.text_field :genre %></li>

    <li> <%= f.submit %></li>
  </ul>
  <% end %>
