<main>
<h2> <%= link_to @club.name, club_path(@club) %> </h2>
  <h1><%= @book.title %> <%= link_to "Edit", edit_meeting_book_path(@meeting, @book) %></h1>
  <p> <%= @book.author %> </p>
  <p> <%= @book.genre %> </p>
  <%= image_tag @book.photo_url %>
  <p><%= @book.description %></p>
  <p><%= link_to "Read More", @book.link %>
    <h2>Reviews </h2>
  <% @book.reviews.each do |review| %>
    <p><%= review.rating %> <%= link_to "(Edit)", edit_book_review_path(@book, review) %></p>
    <p><%= review.comment %></p>
    <hr>
  <% end %>
  <p>Book Club Meeting:<%= link_to @meeting.date, club_meeting_path(@club, @meeting) %></p>
</main>
