<main>
  <h1> <%= link_to @club.name, club_path(@club) %> </h1>
  <h2>New Meeting</h2>
  <ul>
    <%= form_for [@club, @member] do |f| %>
      <li><%= f.label :name %></li>
      <li><%= f.text_field :name %></li>

      <li><%= f.label :email %></li>
      <li><%= f.text_field :email %></li>

      <li><%= f.label :street_address %></li>
      <li><%= f.text_field :street_address %></li>

      <li><%= f.label :street_address_2 %></li>
      <li><%= f.text_field :street_address_2 %></li>

      <li><%= f.label :city %></li>
      <li><%= f.text_field :city %></li>

      <li><%= f.label :state %></li>
      <li><%= f.text_field :state %></li>

      <li><%= f.label :photo_url %></li>
      <li><%= f.text_field :photo_url %></li>

      <li><%= f.submit %></li>
    <% end %>
  </ul>
</main>
