<h2> <%= link_to @club.name, club_path(@club) %></h2>
<h3><%= @member.name %> <%= link_to "(edit)", edit_club_member_path(@club) %></h3>
<ul>
  <li><a href = "mailto:<%= @member.email %>"><%= @member.email %></a></li>
  <li> <%= @member.address %></li>
    <img class = "member_photo" src = "<%= @member.photo_url %> ">
</ul>
