<main>
<h1> <%= link_to @club.name, club_path(@club) %> </h1>
<h2>New Meeting</h2>

<%= form_for [@club, @meeting] do |f| %>
  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :host %>
  <%= f.text_field :host %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.submit %>
<% end %>
</main>
