<div class = "club">
  <h1> <%= link_to @club.name, club_path(@club) %> </h1>
</div>
  <h2>New Meeting</h2>
  <ul>
    <%= form_for [@club, @meeting] do |f| %>
      <li><%= f.label :date %></li>
      <li><%= f.text_field :date %></li>

      <li><%= f.label :host %></li>
      <li><%= f.text_field :host %></li>

      <li><%= f.label :location %></li>
      <li><%= f.text_field :location %></li>

      <li><%= f.submit %></li>
    <% end %>

    
  </ul>
