<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id = "wrapper">
      <nav>
        <h1 id = "title"><%= link_to "BookClub", root_path %> <%= image_tag('books.png', :class => 'logo', :id => 'books') %> <%= image_tag('wine.png', :class => 'logo', :id => 'wine')  %></h1>

        <div class = "sign" >
            <% if !current_user %>
           <%= link_to "Sign up", new_user_registration_path %> |
           <%= link_to "Sign in", new_user_session_path %>
         <% else %>
           <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> |
             <%= current_user.email %>
         <% end %>
        </div>
      </nav>
      <main>
        <%= yield %>
      </main>
      <footer>
        <p>Laura Goldstein | <a href = "https://laurkgol.github.io/">Portfolio </a></p>
      </footer>
    </div>
  </body>
</html>
